.waveform {
	margin: 10px 0;
}

.loading {
	display: flex;
	justify-content: center;
}

.buttonPanel {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;
}

.meta-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-self: end;
	gap: 5px;
}
